@charset "UTF-8";



/* @FONT FACE (enable the use of 'custom fonts' inside your document) */

/* @font-face {
    font-family: 'Your Font Name';
    src: url('../fonts/yourfontname/yourfontname-roman.woff2'),
         url('../fonts/yourfontname/yourfontname-roman.woff'),
         url('../fonts/yourfontname/yourfontname-roman.eot'),
         url('../fonts/yourfontname/yourfontname-roman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/yourfontname/yourfontname-roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Your Font Name';
    src: url('../content/fonts/AktivGrotesk-Medium.otf'),
         url('../fonts/yourfontname/yourfontname-italic.woff'),
         url('../fonts/yourfontname/yourfontname-italic.eot'),
         url('../fonts/yourfontname/yourfontname-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/yourfontname/yourfontname-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: block;
} */


@font-face {
  font-family: 'Aktiv-Medium';
  src: url('../../content/fonts/AktivGrotesk-Medium.otf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Aktiv-Medium-Italic';
  src: url('../../content/fonts/AktivGrotesk-MediumItalic.otf');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Aktiv-Medium-Bold';
  src: url('../../content/fonts/AktivGrotesk-Bold.otf');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'GT-Sectra-Regular-Italic';
  src: url('../../content/fonts/GT-Sectra-Regular-Italic.ttf');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Aktiv-Light';
  src: url('../../content/fonts/AktivGrotesk-Light.otf');
  font-weight: light;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Koz-Regular';
  src: url('../../content/fonts/KozMinPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Koz-Medium';
  src: url('../../content/fonts/KozMinPro-Medium.otf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


/* VARIABLES */

:root {
  /* Color settings */
  --color-background: rgba(255,255,255,1);
  --color-text: rgba(0,0,0,1);
  --color-text-link: #a3a3a3;
  --color-text-link-hover: rgba(0,0,0,1);
  /* Font settings */
  --font-family: 'Aktiv-Medium', 'Aktiv-Medium-Italic', 'Aktiv-Medium-Bold', 'Ortica-Light', sans-serif;
  --font-size: 0.6rem;
  /* Margins settings */
  --margin: 1rem;
}



/* GENERAL STYLES */

html {
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  position:relative;
  background-color: var(--color-background);
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  /* width: 100%; */
  height: auto;
  overflow-y: auto;
}

a {
  color: var(--color-text-link);
  text-decoration: none;
  font-family: 'Aktiv-Light';
}

a:hover {
  color: var(--color-text-link-hover);
  text-decoration: none;
}

a:focus-visible {
  color: var(--color-text-link-hover);
  text-decoration: none;
}


h1{
  /* h1 style */
  /* margin-left: -550px; */
  position: fixed;
  font-size: 0.7rem;
  font-weight: normal;
  /* background-color: white; */
  top: 10px;
  /* left: 20px; */
}


h2{
  /* h2 style */
  font-size: 0.7rem;
  font-family: 'Aktiv-Medium';
  font-weight: normal;
  display: block;
  margin-block-start: 10rem;
  margin-block-end: 0.83em;
  padding-bottom: 1rem;
  margin-bottom: 0;
}

h3{
  /* h3 style */

  /* position: fixed;
  top: 60px;
  left: 20px; */

  width: 430px;
  height: auto;
  padding: 15px 0;
  /* padding-top: 250px; */
  position: relative;
  
  /* font-size: 0.6rem; */
  font-family: 'Aktiv-Medium';
  /* font-size: calc(18rem / 28); */
  font-size: 0.7rem;
  font-weight: normal;
  line-height: 1.3;
  /* color: black; */

  overflow-x: hidden;
  z-index: 1;
}

h4, h5, h6{
  /* h4-h5-h6 style */
}

p{
  /* paragraph style */
  /* margin-right: 5%; */
  margin-bottom: .1rem;

  /* font-size: calc(18rem / 28); */
  font-size: 0.7rem;
  line-height: 1.2em;

  widows: 30;
}

* {
  box-sizing: border-box;
}

div.image-grid{
  max-width: 100%;
}


.column{
  float: left;
  width: 25%;
  padding: 0.1%;
}

.row::after{
  content: "";
  clear: both;
  display: table;
}

.column-text{
  float: left;
  width: 50%;
  padding: 0.5%;
}

.row-text::after{
  content: "";
  clear: both;
  display: table;
}

.subtitle{
  font-family: 'Aktiv-Medium';
  padding-left: 50px;
  padding-top: 30px;
}

.observation{
  /* color: #59ad56; */
  padding: 0;
  padding-left: 50px;
  /* font-family: 'GT-Sectra-Regular-Italic'; */
  /* font-family: 'Aktiv-Medium'; */
  /* font-family: 'Aktiv-Light'; */
  /* font-family: 'Koz-Regular'; */
  font-family: 'Koz-Medium';
  font-size: 0.7em;
  line-height: 1.3;
  width: 100%;
  /* margin-bottom: 50px; */
}

.quote{
  margin-left: 50px;
  /* font-family: 'Aktiv-Medium-Italic'; */
}

.image-description{
  font-size: 14px;
}

.link-hover{
  color: #a3a3a3;
  font-weight: italic;
}

.link-hover a{
  color: blue;
}

.link-hover a:hover {
  color: #a3a3a3;
}

ol, ul{
  margin: 0;
  padding: 0;
  /* ordered list and unordered list styles */
}

blockquote{
  /* blockquote element style */
}

hr{
  /* horizontal rule style */
}



/* PAGE STYLES */

/* page structure */

div.page-wrapper {
  /* the element that 'wraps' everything */
  position: relative;
  padding: var(--margin);
  padding-top: 0;
}

/* navigation */



header {
  position: sticky;
  top: 60px;
  left: 20px;
  width: 24ch;
}

nav{
  /* position: fixed;
  top: 250px;
  left: 20px; */

  white-space: nowrap;

  /* background-color: var(--color-background);
  font: var(--font-size) var(--font-family);
  color: var(--color-text); */
  /* width:50%; */
  /* margin-left:5%; */
}

.sidenav  a.active {
  color: #a3a3a3;
  /* background-color: #a3a3a3; */
}

.sidenav {
  padding: 0px;
  /* width: 410px; */
  /* height: auto; */
  /* position: fixed; */
  /* font-family: 'Aktiv-Medium'; */
  overflow-x: hidden;
  z-index: 1;
}

.sidenav .sidenav {
  padding-left: 20px;
}

.sidenav a {
  padding: 5px 6px 0px 0; /* 15px; */
  text-decoration: none;
  font-size: 0.7rem;
  /* font-size: 0.6rem; */
  font-family: 'Aktiv-Medium';
  color: black;
  display: block;
}

.sidenav a:hover {
  color: #a3a3a3;
}

/* content */

main{
  margin-left: 24ch;
  
  /* width: min(70ch, 100% - 24ch); */
  width: min(50ch, 100% - 24ch);
}

.img-btn{
  position: fixed;
  width: 100px;
}

summary{
  
}

.img{
  padding-top: 50px;
  /* padding-bottom: 2000px; */
  /* margin: 10px; */
  position: relative;
  display: inline-block;
}

.img-text{

}

.drawing{
  position:absolute;
  width: 60%;
  mix-blend-mode:difference;
  top: 10%;

  /* z-index: 9999; */
}


.column:nth-last-of-type(-n+4){
  /* padding-top: 150px; */
padding-top: 10%;
}

#overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 2100px;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.327); */
  z-index: 10;
  cursor: pointer;
  mix-blend-mode:hard-light;
}

.text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: black;
  transform: translate(-50%,-50%);
  z-index: 99999999;
  -ms-transform: translate(-50%,-50%);
}

.button{
  margin: 0;
  padding: 0;
  border: none;
  width: 5%;
  top: 5px;
  right: 5px;
  position: fixed;
  padding-right: 0;
  z-index: 99999;
  cursor: pointer;
}

.modal-image{
  position:fixed;
  display:block;
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  z-index:99999;
  cursor: pointer;
}

.modal-image.is-hidden{
  display:none;
}

.modal-image figure{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-image figure img{
  position: relative;
  display: block;
  width:60vw;
  height:60vh;
  margin:0;
  padding:0;
  object-fit: contain;
  z-index:99999;
}

.modal-image figure figcaption{
  position: relative;
  display: block;
  width: 60%;
}

.modal-image figure figcaption p{
 text-align: center;
 color: #fff;
 /* background-color: rgb(4, 76, 17); */


 color: #000;
 /* background-color: #FFF; */
 /* background-color: #a3a3a3; */
 background-color: #fff;
 box-shadow:0px 0px 1.3rem 1.5rem #fff;
}


/* GENERAL USABILITY */

/* hide desktop mobile etc */

.desktop {
  display: block;
}

.mobile {
  display: none;
}

/* if you want to hide something visually but want to keep it readable / accessible for screen readers (sr) */

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}






/* MEDIA QUERIES */

/* responsive typeface */

@media (max-width: 298px) { 
  :root{ --font-size: 15px; } html, body {font: var(--font-size) var(--font-family);} 
}
@media (min-width: 299px) and (max-width: 339px) { 
  :root{ --font-size: 16px; } html, body {font: var(--font-size) var(--font-family);} 
}
@media (min-width: 340px) and (max-width: 439px) { 
  :root{ --font-size: 17px; } html, body {font: var(--font-size) var(--font-family);} 
}
@media (min-width: 440px) and (max-width: 599px) { 
  :root{ --font-size: 18px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 600px) and (max-width: 779px) { 
  :root{ --font-size: 19px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 780px) and (max-width: 992px) { 
  :root{ --font-size: 20px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 993px) and (max-width: 1200px) { 
  :root{ --font-size: 22px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1201px) and (max-width: 1319px) { 
  :root{ --font-size: 24px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1320px) and (max-width: 1619px) { 
  :root{ --font-size: 26px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1620px) and (max-width: 1879px) { 
  :root{ --font-size: 28px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1880px) { 
  :root{ --font-size: 30px; } html, body {font: var(--font-size) var(--font-family);}
}



/* website media queries */

@media (max-width: 779px) {

  /* styles for screen sizes 779px, should covers 'mobile' and 'tablet' */
  /* style this one first and then use the two others to 'override' some styles (exceptions/details) */






  /* utilities */

  .desktop{display:none!important;}
  .mobile{display:block;}

}



@media (max-width: 339px) {
#introduction { color: blueviolet; }
  /* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */

}



@media (max-width: 779px) and (orientation: landscape) {

  /* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

}



@media (min-width: 780px) and (max-width: 992px) {
  h1{ position: static }

  /* #abstract {
    background-color: fuchsia;
  } */

  /* use this query to apply style for 'small' desktop screens */

}

@media (max-width: 670px) {

  main{
    margin-left: 0;
    /* width: min(120ch, 100%); */
    width: auto;
  }
/* 
  div.page-wrapper {
   
    top: 0;
  } */

  h3{
    width: 45%;
    /* position: absolute;
    top: 0;
    left: auto; */
  }

  body{
    width: 100%;
  }

  header {
    /* position: absolute; */
    /* padding-top: 10px; */
    width: 100%;
    background-color: #fff;
    top: 5%;
  }
  nav {
    position: absolute;
    right: 0;
    top: 0;
    max-height: 20em;
    transition: max-height .25s;
    overflow: hidden;
    z-index: 9999999;
    background-color: #fff;
    float: right;
  }
  nav.collapsed {
    max-height: 1em;
  }
  nav.collapsed:before { 
    content: 'menu';
  }


  #abstract {
    /* background-color: fuchsia;
    position: relative;
    padding: 0; */
    /* margin-left: -241px; */
    /* left: 0; */
    /* max-width: 900px; */

    /* margin-left: -241px; */
  }

  #introduction {

    /* margin-left: -241px; */

  }

  #chapter-1 {

  }

  #chapter-2 {

  }

  #chapter-3 {

  }

  #chapter-4 {

  }

  #chapter-5 {

  }

  #conclusion {


  }

  #bibliography {


  }
  
  #acknowledgment {

  }

  img{

  }

  .column{
    float: left;
    width: 50%;
    padding: 0.1%;
  }

}


.blijft-plakken {
  position: sticky;
  top: 0px;
  padding-top:10px;
  background-color: #fff;
}